/* Extra large devices (large laptops and desktops, 1170px and up) */
@media only screen and (max-width: 1100px) {
    .container{
        padding: 0 50px;
    }

    .feature-img{
        display: block;
    }

    .features{
        background: #fff;
        
    }

    .feature-description{
        width: 600px;
        margin-left: 0;
        padding-right: 0px;
        margin: 0 auto;
        
    }

    .feature-description .intro h2{
        text-align: center;
    }
    
    .feature-description .intro h2 span{
        display: inline-block;
    }

    .feature-description .intro p{
        text-align: center;
    }

    .latest-code{
        background: none;
    }

    .latest-code .latest-wrap .left-img{
        display: block;
        flex-basis: 50%;
        
    }
    .latest-code .latest-wrap .left-img img{
        display: inline-block;
        width: 400px;
        height: auto;
    }

    .latest-code .latest-wrap .right-content{
        flex-basis: 50%;
        padding: 0 0 0 50px;
    }

    .latest-code .latest-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .ultimate-feature .ultimate-feature-wrap .right-img{
        display: block;
        flex-basis: 50%;
    }

    .ultimate-feature{
        background: none;
    }

    .ultimate-feature .ultimate-feature-wrap .left-content{
        flex-basis: 50%;
    }


      
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    .ultimate-feature .ultimate-feature-wrap{
        flex-direction: column-reverse;
    }
    
    .ultimate-feature .ultimate-feature-wrap .right-img{
        width: 100%;
        
    }
    .ultimate-feature .ultimate-feature-wrap .right-img img{
        max-width: 500px;
        
    }
}
/* Large devices (laptops/desktops, 875px and up) */
@media only screen and (max-width: 890px) { 
    nav{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 30px;
        background: #fff;
        -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.11);
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.11);
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        padding: 13px 15px;
    }

    nav ul li a.btn-menu{
        margin-left: 8px;
    }

    .mobile-menu{
        display: block;
    }

    .header-banner{
        flex-direction: column;
    }

    .banner-content{
        padding: 50px 0;
    }

    .features2 .top-wrap{
        padding: 0;
    }

    .features2 .bottom-wrap{
        padding: 50px 0 0 0;
    }

    .latest-code .latest-wrap .left-img img{
        display: inline-block;
        width: 350px;
        height: auto;
    }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .feature-description{
        width: 100%;
    }

    .feature-img img{
        width: 100%;
        height: auto;
    }

    .features2 .top-wrap{
        flex-direction: column;
    }

    .features2 .top-wrap .heading h2{
        text-align: center;
    }

    .features2 .top-wrap .heading{
        border-right: none;
        padding-right: 0;
    }

    .features2 .top-wrap .desc{
        padding: 0;
    }

    .features2 .top-wrap .desc p{
        text-align: center;
        padding-top: 20px;
    }

    .features2 .bottom-wrap{
        flex-wrap: wrap;
    }

    .features2 .bottom-wrap .item{
        flex-basis: 45%;
    }

    .latest-code .latest-wrap{
        flex-direction: column;
    }

    .latest-code .latest-wrap .right-content{
        margin-left: 0;
        padding: 0;
        text-align: center;
        padding-top: 30px;
    }

    .latest-code{
        padding: 50px 0;
    }

    .latest-code .latest-wrap .left-img img{
        width: 400px;
    }

    .why-choose .choose-item-wrap .choose-item{
        flex-basis: 45%;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    nav{
        width: 100%;
    }

  

    

    .feature-description .items{
        display: flex;
        align-items: center;
        padding: 20px 0px 20px 0;
    }

    .features2 .bottom-wrap{
        flex-direction: column;
    }

    .latest-code .latest-wrap .right-content{
        width: auto;
    }


    .latest-code .latest-wrap .left-img img{
        width: 100%;
    }

    .why-choose .choose-item-wrap .choose-item{
        flex-basis: 100%;
    }

    .ultimate-feature-wrap .left-content .features-items-wrap{
        flex-direction: column;
    }

    .ultimate-feature-wrap .left-content .features-items-wrap .features-item{
        padding: 20px 0px;
    }

    .ultimate-feature-wrap .left-content .features-items-wrap .features-item:hover{
        padding: 20px 15px;
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

}





