@font-face{
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: Poopins-Regular;
}
@font-face{
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-family: Poopins-Semibold;
}

:root{
    --colorWhite: #fff;
    --colorPrimary: #242f51;
    --colorSecondery: #2500f9;
    --colorLight: #616368;
    --colorExtraLight: #dadada;
    --heading1FontSize: 60px;
    --heading2FontSize: 36px;
    --heading3FontSize: 20px;
    --bodyFontSize: 16px;
    --bodyFontSize2: 14px;
    --bodyFontSize3: 18px;
    --bacgroundPrimary: #242f51;
    --bacgroundSecondery: #2500f9;
}

/* hero section start */
.hero{
    background-image: url(../images/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    padding: 50px 0 15px 0;
    transition: all .2s ease-in;
    position: relative;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #fff !important;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.11);
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.11);
    z-index: 99999999999999999;
}


.header-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu{
    display: none;
}

.mobile-menu a{
    display: block;
    font-size: 25px;
    color: var(--colorPrimary);
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 10px 15px;
    font-size: var(--bodyFontSize);
    color: var(--colorPrimary);
    transition: all .3s ease-in;
}

nav ul li a:hover{
    color: var(--colorSecondery);
}

.btn{
    font-size: var(--bodyFontSize);
    background: var(--bacgroundSecondery);
    font-family: Poopins-Semibold;
    color: var(--colorWhite);
    font-size: var(--bodyFontSize2);
    padding: 16px 30px;
    border-radius: 50px;
    transition: all .3s ease-in;
    display: inline-block;
}

.btn:hover{
    background: var(--bacgroundPrimary);
    color: var(--colorWhite);
}

nav ul li a.btn-menu{
    margin-left: 15px;
}

.header-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.banner-content{
    flex-basis: 55%;
    padding: 0 0 0 50px;
}

.banner-content .top-title-wrap{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #e2eaed;
    max-width: 350px;
    border-radius: 20px;
}

.banner-content .top-title-wrap span{
    height: 26px;
    padding: 0px 10px;
    color: var(--colorWhite);
    background: #FEAA25;
    border-radius: 20px;
}

.banner-content .top-title-wrap span i{
    line-height: 26px;
    font-size: var(--bodyFontSize3);
}

.banner-content .top-title-wrap p{
    font-size: var(--bodyFontSize3);
    padding-left: 10px;
    
}

.banner-content h1{
    font-size: var(--heading1FontSize);
    color: var(--colorPrimary);
    font-family: Poopins-Semibold;
    padding: 20px 0;
}

.banner-content p{
    font-size: var(--bodyFontSize3);
    color: var(--colorLight);
    line-height: 1.4;
}

.banner-btn-wrap{
    margin-top: 50px;
}

.banner-btn-wrap a.watch-video{
    padding-left: 20px;
    color: var(--colorSecondery);
    font-size: var(--bodyFontSize);
    transition: all .3s ease-in;
}

.banner-btn-wrap a.watch-video:hover{
    color: var(--colorPrimary);
}

.banner-img img{
    width: 380px;
    height: auto;
}

/* hero section stop */


/* companies section start */

.companies{
    padding: 100px 0px;
}

.companies h4{
    font-size: var(--bodyFontSize3);
    font-weight: normal;
    color: var(--colorPrimary);
    text-align: center;
    padding-bottom: 20px;
    
}

.company-wrap{
    padding: 0 50px;
}

.companies .owl-item{
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.companies .owl-item img{
    width: auto !important;
    
}

/* companies section stop */


/* feature section start */
.features{
    background: url(../images/feature\ image.png);
    background-repeat: no-repeat;
    background-position: 56px 73px;
    padding: 100px 0;
}

.feature-img{
    display: none;
    text-align: center;
}
.feature-description{
    width: 600px;
    margin-left: auto;
    padding-right: 100px;
}

.feature-description .intro {
    padding-bottom: 50px;
}


.feature-description .intro h2{
    font-size: var(--heading2FontSize);
    color: var(--colorPrimary);
    font-family: Poopins-Semibold;
    padding-bottom: 15px;
}

.feature-description .intro h2 span{
    display: block;
}
.feature-description .intro p{
    font-size: var(--bodyFontSize);
    color: var(--colorLight);
    line-height: 1.4;
}

.feature-description .items img{
   display: block;
   margin-right: 20px; 
}

.feature-description .items h3{
    font-size: var(--heading3FontSize);
    font-family: Poopins-Semibold;
    padding-bottom: 10px;
}
.feature-description .items p{
    font-size: var(--bodyFontSize);
    color: var(--colorLight);
    line-height: 1.4;
}

.feature-description .items{
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 0;
}

.feature-description .item1 h3{
    color: #f55767;
}
.feature-description .item2 h3{
    color: #2563ff;
}
.feature-description .item3 h3{
    color: #53a06e;
}

/* feature section stop */


/* feature2 section start */
.features2{
    padding: 50px 0;
}

.features2 .top-wrap{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features2 .top-wrap .heading{
    flex-basis: 50%;
    border-right: 1px solid var(--colorExtraLight);
    padding-right: 80px;
}

.features2 .top-wrap .heading h2{
    font-size: var(--heading2FontSize);
    color: var(--colorPrimary);
    font-family: Poopins-Semibold;
    
}
.features2 .top-wrap .desc{
    flex-basis: 50%;
    padding: 0 0 0 50px;
}

.features2 .top-wrap .desc p{
    font-size: var(--bodyFontSize);
    color: var(--colorLight);
    line-height: 1.4;
}

.features2 .bottom-wrap{
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features2 .bottom-wrap .item{
    flex-basis: 30%;
    padding: 20px 20px;
    transition: all .3s ease-in;
    
}

.features2 .bottom-wrap .item:hover{
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.20);
}

.features2 .bottom-wrap .item h3{
    font-size: var(--heading3FontSize);
    font-family: Poopins-Semibold;
    padding-bottom: 10px;
    padding-top: 20px;
}

.features2 .bottom-wrap .item p{
    font-size: var(--bodyFontSize);
    color: var(--colorLight);
    line-height: 1.4;
}


.features2 .bottom-wrap .item1 h3{
    color: #f55767;
}
.features2 .bottom-wrap .item2 h3{
    color: #2563ff;
}
.features2 .bottom-wrap .item3 h3{
    color: #53a06e;
}
/* feature2 section stop */


/* latest code section start */
.latest-code{
    padding: 130px 0;
    background: url(../images/latest\ code.png);
    background-repeat: no-repeat;
    background-position: 100px 30px;
}

.latest-code .container{
    padding: 0 50px;
}

.latest-code .latest-wrap .left-img{
    display: none;
}
.latest-code .latest-wrap .right-content{
    width: 500px;
    margin-left: auto;
    padding: 0 60px 0 50px;
}

.latest-code .latest-wrap .right-content h2{
    font-size: var(--heading2FontSize);
    color: var(--colorPrimary);
    font-family: Poopins-Semibold;
}
.latest-code .latest-wrap .right-content p{
    font-size: var(--bodyFontSize);
    color: var(--colorLight);
    line-height: 1.4;
    padding: 20px 0 25px 0;
}
/* latest code section stop */